h1 {
    color: red;
}

p {
    color: blue;
}

.truco {

    color: chartreuse;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.camposFormulario {
    margin-bottom: 10px;
}